<script type="module">
  var taxonomiesSearchTrigger = document.querySelector('.search-button--taxonomies');
  
  if (taxonomiesSearchTrigger) {
    // get i18n type
    var taxonomyContainer = document.querySelector('.section-taxonomies-container');
    var taxonomyType = taxonomyContainer.getAttribute('data-organization-title');
    
    var manager = window.PagefindComponents.getInstanceManager();
    var instance = manager.getInstance('default');
    var pagefindFilters = document.querySelector('pagefind-filter-pane');

    taxonomiesSearchTrigger.addEventListener('click', (event) => {
      // remove filters pane from modal (as asked by anepv)
      pagefindFilters.style.display = 'none';

      setTimeout(function() {
        instance.triggerFilter('type', [taxonomyType]);
      }, 200);
    });

    // remove filters in same instance when clicking primary search button
    var primarySearchTrigger = document.querySelector('.search-button--primary');
    if (primarySearchTrigger) {
      primarySearchTrigger.addEventListener('click', () => {
        pagefindFilters.style.display = 'block';
        
        setTimeout(() => {
          instance.triggerFilter('type', []);
        }, 200);
      });
    }
  }
</script>