[submodule "themes/osuny"]
	path = themes/osuny
	url = https://github.com/osunyorg/theme.git
[submodule "themes/epv-hugo-theme"]
	path = themes/epv-hugo-theme
	url = git@github.com:osunyorg/epv-theme.git
