[submodule "themes/osuny-hugo-theme-aaa"]
	path = themes/osuny-hugo-theme-aaa
	url = https://github.com/noesya/osuny-hugo-theme-aaa.git
[submodule "themes/epv-hugo-theme"]
	path = themes/epv-hugo-theme
	url = git@github.com:osunyorg/epv-theme.git
