$color-accent: #C10B25
$color-text: #000000
$color-text-alt: #454545
$color-border: rgba(0, 0, 0, 0.30)
$color-background-alt: #F2F2F2
$color-background: #FFFFFF

$heading-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family

// $body-font-family: "Open Sans", sans-serif
// $heading-font-family: $body-font-family

// $h1-font-family: "Cinzel", serif
// $h1-line-height: 90%
// $h1-weight: normal
// $h2-font-family: $h1-font-family
// $h3-font-family: $h1-font-family
// $h3-weight: normal
// $lead-hero-size: px2rem(24)
// $lead-hero-size-desktop: px2rem(28)

$header-background: $color-accent
$header-sticky-background: $color-accent
$header-color: $color-background
$header-logo-height: 50px
$header-logo-height-desktop: 60px
$header-border-bottom-width: 0
$header-dropdown-full: true
$hero-color: $color-background
$hero-background-color: $color-accent
$footer-background-color: $color-background
$footer-logo-height: 50px
$footer-logo-height-desktop: 120px
$breadcrumb-color: $color-text
$breadcrumb-color-active: $color-text-alt
