// Paginated Map for organizations section and organizations_categories
.organizations__section,
.organizations_categories__term
    main#main
        padding-bottom: 0
    .transcription
        display: none !important
    @include media-breakpoint-down(desktop)
        .block-organizations
            .container
                padding-left: 0
                padding-right: 0
    @media (max-width: $grid-max-width)
        .block-organizations
            margin-bottom: 0
    @media (min-width: $grid-max-width)
        .block-organizations
            .map
                margin-left: 0 !important
                margin-right: 0 !important

#search-button-taxonomies
    @include link

.section-taxonomies-container:has(#search-button-taxonomies)
    display: flex
    align-items: baseline
    justify-content: space-between
    gap: var(--grid-gutter)
    .taxonomies-list--dropdown
        margin-top: 0
        margin-bottom: 0
    @include media-breakpoint-down(desktop)
        flex-direction: column
        .taxonomies-list--dropdown
            width: 100%